<h1><%= t "mailer.resetpassword.subject" %></h1>

<p><%= t "mailer.resetpassword.text_title" %></p>

<%= link_to t("mailer.resetpassword.subject"), edit_password_reset_url(
  @user.reset_token, email: @user.email) %>

<p><%= t "mailer.resetpassword.expire_time" %></p>

<p>
<%= t "mailer.resetpassword.html_content" %>
</p>
